{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Dashboard {% block title %} {% endblock %}</title>
    <!-- <link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" /> -->
    <link rel="import" href="_sidebar.html">

</head>

<body>
    <!-- Begin page -->
    <div id="chart"></div>
    <link rel="import" href="_sidebar.html"> {{ data|json_script:"data" }}
    <_sidebar.html></_sidebar.html>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</body>

</html>